# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Build
frontend/dist/
infrastructure/build/
*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
